body {
    background-color: #fafafa;
    font-family: 'Roboto', sans-serif;
    padding-top: 50px;
}

.container {
    max-width: 550px;
    margin: auto;
    padding: 20px;
    background-color: rgb(207, 147, 147);
    box-shadow: rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

a {
    text-decoration: none;
}

.completed {
    text-decoration: line-through;
    color: gray;
}