{% extends 'shopping_list/main.html' %}
{% block content %}

<div class="custom-header">
    {%  if request.user.is_authenticated %}
    <p>{{request.user}}</p>
    <a href="{% url 'logout' %}">Logout</a>
    {% else %}
    <a href="{% url 'login' %}">Login</a>
    {% endif %}
</div>

<hr>

<h1>Shopping List</h1>
<a href="{% url 'create-item' %}">Add</a>

<div id="items-list" class="item-list-container">
    {% for list in lists %}
        <div data-item-id="{{ list.id }}" class="shopping-item {% if list.complete %}completed{% endif %}">
            <div class="item-title">
                <i><a href="{% url 'update-item' list.id %}">{{list.title}}:
                    {{list.quantity}}</a></i>
                <div class="item-complete-icon"><i class="fa-solid fa-circle-check"></i></div>
                
            </div>
            <a class="delete" href="{% url 'delete-item' list.id %}"><i class="fa-solid fa-trash"></i></a>
        </div>
        {% empty %}
    <h3>No items</h3>
    {% endfor %}
</div>
{% endblock content %}