
body {
    background-color: #fafafa;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    
}

.custom-header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(81, 238, 238);
    padding: 20px;
}

.container {
    display: flex;
    flex-direction: column;  
    width: 30rem;
    max-width: 80%;
    background-color: aliceblue;
    border-radius: 0.5rem;
    box-shadow: 0 0 0.6rem 0.1rem rgba(0, 0, 0, 0.1);
    margin-top: 50px;
}

a, p {
    text-decoration: none;
    color: #727272;
}

h1, a, p {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.completed {
    text-decoration: line-through;
    color: gray;
}

.shopping-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border-top: 1px solid rgb(81, 238, 238);
}
.item-title {
    display: flex;
    flex-direction: row;
    justify-content: baseline;
}

.forms {
    display: flex;
    justify-content: center;
}

.form-label {
    padding: 10px;
}

label {
    display: block;
}