body {
    background-color: #fafaff;
    font-family: 'Roboto', sans-serif;
    padding-top: 50px;
}

.container {
    max-width: 550px;
    margin: auto;
    background-color: white;
    box-shadow: 1px 1px;
}

a {
    text-decoration: none;
}